*, ::before, ::after {
    box-sizing: inherit;
}


body{
  font-family: 'Raleway', sans-serif;
 display: block;
 margin: 8px;

}
header  {
  margin-top: 30px;
  
  
}
.logo {
  width: 5%;
  position: relative;
  bottom: 30px;
  float: left;
  
}

nav ul {
  display: flex;
}

nav li{   
  color: #000;
   list-style: none; 
}

nav a{
  text-decoration: underline;
  text-decoration: none;  
  color: #0065FC;
  margin: 40px;
  position: relative;
  left: 700px;
  bottom: 10px;
  
}
h1{
  /* display: inline; */
  font-size: 16px; 
}

p{
    font-size: 12px;
}

/* *******************boutton recherche************* */

.bouttonRecherche i {
  background: #d4c6c6 ;
  border:  #615c5c ;
  border-radius: 10px 0 0 10px;
  padding: 5px 5px 5px 5px;
  width: 20px;
  height: 15px;
  position: relative;
  top: 2px;
  /* line-height:50px */
  
  
}

.boutton{
  background: #d4c6c6 ;
  border:  #615c5c ;
  border-radius: 0px 0 0 0px;
  padding: 5px 0px 5px 0px;
  width: 150px;  
}

.envoyer{
  background: #0065FC;
  color: white;
  border-radius: 0px 10px 10px 0px;
  width: 80px;
  padding: 5px 0px 5px 0px;
  border-style: none;
}

/* ************************les filtres********************** */


.filtres{
display: block;

}
.filtres i {
width: 5%;
color: red;
padding: 5px 30px 5px 5px;
margin: 10px;
width: 15%;
border-radius:500px;
border: 2px solid #F2F2F2;
cursor: pointer;

line-height: 50px;

 
}

#money, #child, #heart, #dog {

padding: 5px 30px 5px 5px;
margin: 10px;
width: 15%;
border-radius:30px;
border: 2px solid #F2F2F2;
cursor: pointer;
color:#0065FC;
}



/* *****************div engroupe  les  3 sections***************  */
.Sec1Sec2Sec3{

  /* display: grid;
  grid-template-columns: 1fr 1fr  ;
  grid-template-rows: 1fr 1fr ;
  grid-gap: 5px; 
   */
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-items:space-between;
align-content: space-between ;

}
/* *****section1 hebergement a marseille */
.hebergement-marseille {
  background: #F2F2F2;
  border-radius: 3%;
  width: 60%;
  height: auto;
  
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  */
   display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr ;
  grid-gap: 5px; 
}

.hebergement-marseille img {
  width: 90%;
  height: auto;
  border-radius: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;

}

.photoSection1 {
  background-color: white;
  border-radius: 10%;
  width: 90%;
  height: auto;
  margin: 10px;
  padding: 0;

  
}

 .img1{
  width:auto ;
  height: 160px;
  overflow :hidden;
 }                  

.fontSize10 {
  font-size: 12px;
}
.fontWidthBold {
  font-weight: bold;
}
.marginBottum5Left10 {
  margin: 0px 0 5px 10px;
  
}
.star{
  display: flex;
  margin: 5px;
  color: #0065FC;
}
.star:nth-child(5){
  color: red; 
  margin: 50px;
}

/****************** section2 plus-populaire */

.populaire{

  margin-left: 30px;

}
.populaire i{
  position: relative;
  left: 500px;
  bottom: 30px;
  color: black;
}

.plus-populaires{
  background: #F2F2F2;
  border-radius: 10%;
  width: 40%;
  height: auto;
  padding: 5px;  
  }

/* .plus-populaires:nth-child(2){
position: relative;
top: 10px;
} */
  .photoSection2 {
    background-color: white;
    border-radius: 10%;
    width: 90%;
    height: auto;
    margin: 10px ;
    padding: 10px;
    display: inline-flex;
  
    }

  .img2{
    height: auto ;
    width: 40%;
    /* overflow :hidden; */
    display: flex;
    
    /* overflow-x: hidden;
    overflow-y: hidden; */

     

   }    
  
   
  .plus-populaires img {
    width: 60%;
    height: auto;
    border-radius: 10% 0 0 10%;
    
  }

    .photoSection2 p{
    flex-direction: row;
    }
/* **********section3 activites******** */

.activit{
  width: 100%;
  height: auto;  
  display: flex;
  flex-wrap: wrap;     
}

.activit div{

  margin: 0  30px 30px 30px  ;
  border-radius : 30px;
  box-shadow: 5px 15px 15px 5px rgba(47,47,47,0.09) ;
  width: 20%;
  overflow-x: hidden;
  overflow-y: hidden; 
  
  
}
.activit img{
  border-radius : 30px 30px 0 0; 
  border: 0px solid #333333;
  width: 100%;
  height: 50%;
  
  
}


    /* ************ footer******** */
  footer{
    display: flex;
    background-color: #F2F2F2;  
   

  }
  footer ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: space-between; 
    margin-left: 150px;
    
  }
  

  footer li{
   
    color: #000;
     list-style: none; 
    
  }

  footer a{
    text-decoration: underline;
    text-decoration: none;  
    color: #000; 
    

  }
    
  



/* explication concernant 
display : flex;
justify-content: center; alignement par rapport aux axe des X
align-items: center; alignement par rapport aux axe des y 
remarque si on applique ça sur le body il faut lui donner une hauteur car le body ne l'a pas
height: 100vh */
